
body {
    font-size: 20px;
}

.header{
    background-color: rgb(10, 20, 77);
    color:white;
    padding:6px;
    text-align: center;
    font-size: 20px;
    text-align: top;
    border-radius: 2px;
}
h1,h3,h4,h5,h6{
    color:rgb(46, 69, 196);
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 69, 196);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px seashell;
}

li a:hover {
    background-color: rgb(32, 19, 109);
    text-decoration: none;
    color:white;}

li a:active{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    .carousel-inner img {
      width: 50%;
      height: 50%; /* Set width to 100% */
      margin: auto;
     /* min-height:200px;*/
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }}
.loginmodal-container {
  padding: 30px;
  max-width: 450px;
  width: 100% ;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h3 {
  text-align: center;
  font-size: 1em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password],input[type=email],input[type=date] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 4px;
border-radius: 3px; 
 -webkit-user-select: none;
  user-select: none; 
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
.dash{
    content: " ";
    display: block;
    border-bottom: 1px solid rgb(46, 69, 196);
}
.glyphicon-ring {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;
}
/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
}

.col-centered {
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    text-align: center;
}
table, td, th,tr {    
  border: 4px solid rgb(250, 250, 250);
  padding: 40px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  width:33%;
}